@model IEnumerable<OrderModel>

@{
    ViewData["Title"] = "Danh sách đặt hàng của" + @ViewBag.UserEmail;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <h3>Lịch sử đơn hàng của tài khoản @ViewBag.UserEmail</h3>

    <table class="table" id="myTable" >
        <thead >
            <tr>
                <th>Id</th>
                <th>Order Code</th>
                <th>Giá ship</th>
                <th>Phiếu giảm giá</th>
                <th>Trạng thái</th>
                <th>Ngày tạo</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.OrderCode</td>
                    <td>@item.ShippingCost.ToString("#,##0 đ")</td>
                    <td>@item.CouponCode</td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <span class="text text-warning">Đang duyệt</span>
                        }
                        else if (item.Status == 0)
                        {
                            <span class="text text-success">Đã xác nhận</span>
                        }
                        else{

                            <span class="text text-danger">Đã hủy</span>
                        }
                    </td>
                    <td>@item.CreatedDate.ToString("dd-MM-yyyy")</td>
                    <td>
                        @if(item.Status == 3){
                            <a class="btn btn-warning btn-sm" asp-action="DetailOrder" asp-controller="Account" asp-route-ordercode="@item.OrderCode">
                                <i class="fa fa-eye"></i> Xem
                            </a>                            
                            <a onclick="return confirm('Bạn xác nhận muốn hủy?')" class="btn btn-warning btn-sm disabled" asp-action="CancelOrder" asp-controller="Account" asp-route-ordercode="@item.OrderCode">Hủy đơn hàng</a>

                        }
                        else
                        {
                            <a class="btn btn-warning btn-sm" asp-action="DetailOrder" asp-controller="Account" asp-route-ordercode="@item.OrderCode">
                                <i class="fa fa-eye"></i> Xem
                            </a>                            
                            <a onclick="return confirm('Bạn xác nhận muốn hủy?')" class="btn btn-warning btn-sm" asp-action="CancelOrder" asp-controller="Account" asp-route-ordercode="@item.OrderCode">Hủy đơn hàng</a>

                        }
                        

                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>