@model IEnumerable<OrderModel>

@{
    ViewData["Title"] = "Danh sách đặt hàng của " + @ViewBag.UserEmail;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">
       <div class="row">
            <!-- BREADCRUMB -->
            <div id="breadcrumb" class="section">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="breadcrumb-tree">
                                <li><a href="/">Trang chủ</a></li>
                                <li class="active">Danh sách đơn hàng</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /BREADCRUMB -->
    </div>
    <h3>Danh sách đơn hàng của: @ViewBag.UserEmail</h3>

    <table class="table table-bordered" id="myTable">
        <thead class="thead-dark">
            <tr>
                <th>Mã đơn hàng</th>
                <th>Tên người dùng</th>
                <th>Địa chỉ giao hàng</th>
                <th>Giá ship</th>
                <th>Phiếu giảm giá</th>
                <th>Giá giảm</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
                <th>Ngày tạo</th>
                <th width="150px">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrderCode</td>
                    <td>@item.UserName</td>
                    <td>@item.ShippingAddress</td>
                    <td>@item.ShippingCost.ToString("#,##0 đ")</td>
                    <td>@item.CouponCode</td>
                    <td>@item.CouponPrice.ToString("#,##0 đ")</td>
                    <td>@item.TotalPrice.ToString("#,##0 đ")</td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <span class="text text-warning">Đang duyệt</span>
                        }
                        else if (item.Status == 0)
                        {
                            <span class="text text-success">Đã xác nhận</span>
                        }
                        else
                        {
                            <span class="text text-danger">Đã hủy</span>
                        }
                    </td>
                    <td>@item.CreatedDate.ToString("dd-MM-yyyy")</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="DetailOrder" asp-controller="Account" asp-route-ordercode="@item.OrderCode">
                            <i class="fa fa-eye"></i> Xem
                        </a>
                        @if (item.Status == 1) 
                        {

                            <a onclick="return confirm('Bạn xác nhận muốn hủy?')" class="btn btn-danger btn-sm" asp-action="CancelOrder" asp-controller="Account" asp-route-ordercode="@item.OrderCode">
                                <i class="fa fa-trash"></i> Hủy
                            </a>
                        }
                        else
                        {
                            <a onclick="return confirm('Bạn xác nhận muốn hủy?')" class="btn btn-danger btn-sm disabled" asp-action="CancelOrder" asp-controller="Account" asp-route-ordercode="@item.OrderCode">
                                <i class="fa fa-trash"></i> Hủy
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</body>
</html>