@{
    ViewData["title"] = "List User";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Danh sách người dùng</h3>

    <a class="btn btn-success" asp-action="Create" asp-controller="User"><i class="fa fa-plus"></i> Thêm tài khoản</a>
    <a class="btn btn-secondary" asp-action="Trash" asp-controller="User">
        <i class="fa fa-trash"></i> Thùng rác
    </a>
    <div class="table table-responsive">
        <table class="table table-responsive" id="myTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên tài khoản</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Quyền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usersWithRoles in Model)
                {
                    <tr>
                        <td>@usersWithRoles.User.Id</td>
                        <td>@usersWithRoles.User.UserName</td>
                        <td>@usersWithRoles.User.Email</td>
                        <td>@usersWithRoles.User.PhoneNumber</td>
                        <td>
                            @usersWithRoles.RoleName
                        </td>
                        <td>
                            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="User" asp-route-Id="@usersWithRoles.User.Id">Edit</a>
                            <a class="btn btn-danger btn-sm confirmDeletion" asp-action="Delete" asp-controller="User" asp-route-Id="@usersWithRoles.User.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
