@using Microsoft.AspNetCore.WebUtilities

@{
    var query = QueryHelpers.ParseQuery(Context.Request.QueryString.ToString());
    var path = Context.Request.Path.ToString();

    // Loại bỏ sort_by nếu có
    var filteredQuery = query
        .Where(q => q.Key != "sort_by")
        .ToDictionary(kvp => kvp.Key, kvp => kvp.Value.ToString());

    // Base URL (chưa có sort_by)
    var baseUrl = QueryHelpers.AddQueryString(path, filteredQuery);

    // Thêm sort_by mới
    var priceIncreaseUrl = QueryHelpers.AddQueryString(baseUrl, "sort_by", "price_increase");
    var priceDecreaseUrl = QueryHelpers.AddQueryString(baseUrl, "sort_by", "price_decrease");
    var priceNewestUrl = QueryHelpers.AddQueryString(baseUrl, "sort_by", "price_newest");
    var priceOldestUrl = QueryHelpers.AddQueryString(baseUrl, "sort_by", "price_oldest");
}


<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h5>Sắp xếp theo</h5>
            <select class="form-control" id="sort_by">
                <option>Lựa chọn</option>
                <option value="@priceIncreaseUrl">Giá tăng dần</option>
                <option value="@priceDecreaseUrl">Giá giảm dần</option>
                <option value="@priceNewestUrl">Mới nhất</option>
                <option value="@priceOldestUrl">Cũ nhất</option>
            </select>

        </div>
        @* <div class="col-md-5"> *@
        @*     <h5>Lọc theo giá</h5> *@
        @*     <form asp-action="Index" asp-controller="Category"> *@

        @*         <input type="text" id="amount" readonly="" style="border:0; color:#f6931f; font-weight:bold;"> *@
        @*         <div id="slider-range"></div> *@
        @*         <button type="submit" name="locgia" data-current_url="@currentUrl" class="btn btn-danger btn-locgia">Lọc</button> *@
        @*     </form> *@

        @* </div> *@
    </div>
</div>
