<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Trang chủ | Tech Savvy</title>
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.19.1/dist/sweetalert2.min.css" rel="stylesheet">
	<link href="~/css/prettyPhoto.css" rel="stylesheet">
	<link href="~/css/price-range.css" rel="stylesheet">
	<link href="~/css/animate.css" rel="stylesheet">
	<link href="~/css/main.css" rel="stylesheet">
	<link href="~/css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<style>
		#header {
			position: sticky;
			top: 0;
			z-index: 500;
			background-color: #fff;
			box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		}

		.header_top{
            background-color: black;
            color: white;
            font-weight: bold;
		}
		.header-bottom {
			background-color: #fff;
		}
		a{
            color: #000;
		}	

		.left-sidebar h2, .brands_products h2{
			color: #000
		}

		
	</style>
	<header id="header">
		<!--header-->
		<div class="header_top">
			<!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> Hotline: 036 668 3210</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> Email: nguyendung180203@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="https://www.facebook.com/nqd1802"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.instagram.com/_huz0366/?theme=dark"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->

		<div class="header-middle" style="background: #DCDCDC; padding: 10px 0;">
			<div class="container">
				<div class="row" style="display: flex; align-items: center; justify-content: space-between; border:none;">
					<!-- Trái -->
					<div class="col-md-2" style="display: flex; align-items: center; gap: 10px;">
						@* <a href="/"> *@
						@* 	<img src="~/media/Logo.png" alt="Logo" style="max-height: 100px;"> *@
						@* </a> *@
						<a href="/" class="btn btn-outline-dark" style="font-weight:bold"><i class="fa fa-home"></i> Trang chủ</a>
						<a href="http://localhost:5252/admin" style="font-weight:bold" class="btn btn-outline-dark"> Admin</a>
					</div>

					<!-- Giữa -->
					<div class="col-md-3">
						<form asp-controller="Product" asp-action="Search" method="post" class="input-group">
							<input type="text" name="searchItem" class="form-control" placeholder="Nhập từ khóa tìm kiếm">
							<span class="input-group-btn">
								<button class="btn btn-success" type="submit">Tìm kiếm</button>
							</span>
						</form>
					</div>

					<!-- Phải: Menu tài khoản + giỏ hàng -->
					<!-- Phải -->
					<div class="col-md-7">
						<ul class="nav navbar-nav navbar-right">
							<li><a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
							@if (User.Identity?.IsAuthenticated ?? false)
							{
								<li><a asp-controller="Home" asp-action="Wishlist"><i class="fa fa-heart-o"></i> Yêu thích</a></li>
								<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Thanh toán</a></li>
								<li><a href="#"><i class="fa fa-user"></i> Tài khoản</a></li>
								<li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out"></i> Xin chào @User.Identity.Name, Đăng xuất</a></li>
							}
							else
							{
								<li><a asp-controller="Account" asp-action="Login"><i class="fa fa-lock"></i> Đăng nhập</a></li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>

	</header><!--/header-->

	<section>

		<div class="container">
			<div class="row">
				@Html.Partial("_NotificationPartial")
				@RenderBody()
			</div>
		</div>
	</section>

	<footer id="footer">
		<!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>e</span>-shopper</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Service</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Online Help</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Order Status</a></li>
								<li><a href="#">Change Location</a></li>
								<li><a href="#">FAQ’s</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Quock Shop</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">T-Shirt</a></li>
								<li><a href="#">Mens</a></li>
								<li><a href="#">Womens</a></li>
								<li><a href="#">Gift Cards</a></li>
								<li><a href="#">Shoes</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Policies</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privecy Policy</a></li>
								<li><a href="#">Refund Policy</a></li>
								<li><a href="#">Billing System</a></li>
								<li><a href="#">Ticket System</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Company Information</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Store Location</a></li>
								<li><a href="#">Affillate Program</a></li>
								<li><a href="#">Copyright</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © TechSavvy.</p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->



	<script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<script src="~/js/price-range.js"></script>
	<script src="~/js/jquery.prettyPhoto.js"></script>
	<script src="~/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.19.1/dist/sweetalert2.all.min.js"></script>		
	<script>
		$(function (){
		var message = '@TempData["success"]';
			if(message !== '')
				Swal.fire({
					title: message,
					icon: "success",
					draggable: true
				});
		}
		);
	</script>
	<script>
		$(function (){
		var message = '@TempData["error"]';
			if(message !== '')
				Swal.fire({
						icon: "error",
						title: message,
				});
		}
		);
	</script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html> 