@{
    ViewData["title"] = "Danh sách yêu thích";
    var key = 0;
}
<div class="container">
    <div class="row">
        <!-- BREADCRUMB -->
        <div id="breadcrumb" class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb-tree">
                            <li><a href="/">Trang chủ</a></li>
                            <li class="active">Yêu thích</li>
                        </ul>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /BREADCRUMB -->
</div>
<h3 class="mb-4 fw-bold text-dark">
    Danh sách sản phẩm yêu thích
</h3>

<table class="table table-bordered table-hover table-striped" id="myTable" >
        <thead class="bg-primary text-white" style="background-color: #D10024; color: #fff;" >
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Ảnh</th>
            <th width="150px">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wishlist_product in Model)
        {
            key++;
            <tr>
                <td>@key</td>
                <td>@wishlist_product.Product.Name</td>
                <td>@wishlist_product.Product.Price.ToString("#,##0 VNĐ")</td>
                <td>
                    <img src="~/media/products/@wishlist_product.Product.Image" height="120" class="img-thumbnail" width="200" />
                </td>
                <td>
                    <div class="d-flex justify-content-center gap-2">
                        <a asp-action="Details" asp-controller="Product" asp-route-id="@wishlist_product.Product.Id" class="btn btn-info btn-sm flex-fill text-nowrap">
                            <i class="fa fa-eye"></i> Xem
                        </a>
                        <a asp-action="DeleteWishlist" asp-controller="Home" asp-route-id="@wishlist_product.Wishlists.Id" class="btn btn-danger btn-sm confirmDeletion flex-fill text-nowrap">
                            <i class="fa fa-trash"></i> Xóa
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>